<div *ngFor="let message of game?.messages">
  <span *ngIf="message.user">{{message.user.username}} : </span>
  {{message.text}}
</div>
<div *ngIf="roleInGame?.alive">
    <input [(ngModel)]="message.text" />
    <button (click)="sendMessage()">Send</button>
</div>

<router-outlet></router-outlet>