<div *ngIf="game">
  <div *ngIf="!game.started">
    <ng-container *ngIf="!roleInGame?.ready; else elseTemplate">
      <button (click)="ready()">Ready !</button>
    </ng-container>
    <ng-template #elseTemplate>
      <p>You're ready</p>
    </ng-template>
    <div *ngIf="isAdmin">
        <div *ngFor="let role of game.roles">
          <p>{{role.role.name}}</p>
          <input [(ngModel)]="role.count" (blur)="updateRole(role)"/>
        </div>
        <button *ngIf="playerNeeded==nbReady" (click)="startGame()">Start game</button>
    </div>
    <div *ngIf="!isAdmin">
        <div *ngFor="let role of game.roles">
          <p>{{role.role?.name}} : {{role.count}}</p>
        </div>
    </div>
  </div>
  <div *ngIf="game.started">
    You are : {{roleInGame.role.name}}
  </div>
  Ready : {{nbReady}}/{{game.rolesingame?.length}}
  Players :
  <p *ngFor="let role of game.rolesingame">
    {{role.user.username}}
  </p>
  <button (click)="test()">test</button>
</div>