<div>
  <app-chat [game]="game" [roleInGame]="roleInGame" [user]="user"></app-chat>
</div>
<div>
  <app-info-game [game]="game" [user]="user" 
  [roleInGame]="roleInGame" [nbReady]="nbReady" 
  [isAdmin]="isAdmin" [playerNeeded]="playerNeeded"></app-info-game>
</div>